# ETL League of Legends - Data Mart Dimensionnel

Ce notebook transforme les données relationnelles en un modèle en étoile optimisé pour l'analyse.

## Architecture
- **Source** : Tables normalisées PostgreSQL (games, summoners, participants, etc.)
- **Cible** : Data Mart avec dimensions (time, player, champion, game, position) et table de faits
- **Outils** : Pandas pour transformations, SQLAlchemy pour chargement

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
import numpy as np

engine = create_engine("postgresql://lol_user:lol_pass@localhost:55432/lol_db")
print("Connexion établie")

## Étape 1 : Chargement de la table brute

In [ ]:
csv_path = "data/lol_dataset.csv"
chunksize = 20000

first = True
for chunk in pd.read_csv(csv_path, sep=";", dtype=str, chunksize=chunksize, low_memory=False):
    chunk.to_sql("raw_lol", engine, if_exists="replace" if first else "append", index=False)
    first = False

print("OK: raw_lol chargé")

## Étape 2 : Création du schéma relationnel normalisé

In [ ]:
with engine.connect() as conn:
    conn.execute(text("""
    CREATE TABLE IF NOT EXISTS games (
      game_id BIGINT PRIMARY KEY,
      game_start_utc TIMESTAMP NULL,
      game_duration INT NULL,
      game_mode TEXT NULL,
      game_type TEXT NULL,
      game_version TEXT NULL,
      map_id INT NULL,
      platform_id TEXT NULL,
      queue_id INT NULL
    );

    CREATE TABLE IF NOT EXISTS summoners (
      puuid TEXT PRIMARY KEY,
      summoner_id TEXT NULL,
      summoner_name TEXT NULL,
      summoner_level INT NULL
    );

    CREATE TABLE IF NOT EXISTS champions (
      champion_id INT PRIMARY KEY,
      champion_name TEXT NULL
    );

    CREATE TABLE IF NOT EXISTS participants (
      game_id BIGINT REFERENCES games(game_id),
      participant_id INT,
      puuid TEXT REFERENCES summoners(puuid),
      champion_id INT REFERENCES champions(champion_id),
      team_id INT NULL,
      win BOOLEAN NULL,
      individual_position TEXT NULL,
      team_position TEXT NULL,
      lane TEXT NULL,
      role TEXT NULL,
      PRIMARY KEY (game_id, participant_id)
    );

    CREATE TABLE IF NOT EXISTS participant_stats (
      game_id BIGINT,
      participant_id INT,
      kills INT NULL,
      deaths INT NULL,
      assists INT NULL,
      baron_kills INT NULL,
      dragon_kills INT NULL,
      gold_earned INT NULL,
      gold_spent INT NULL,
      total_damage_dealt BIGINT NULL,
      total_damage_dealt_to_champions BIGINT NULL,
      physical_damage_dealt_to_champions BIGINT NULL,
      magic_damage_dealt_to_champions BIGINT NULL,
      true_damage_dealt_to_champions BIGINT NULL,
      damage_dealt_to_objectives BIGINT NULL,
      damage_dealt_to_turrets BIGINT NULL,
      total_damage_taken BIGINT NULL,
      physical_damage_taken BIGINT NULL,
      magic_damage_taken BIGINT NULL,
      true_damage_taken BIGINT NULL,
      time_ccing_others BIGINT NULL,
      vision_score INT NULL,
      wards_placed INT NULL,
      wards_killed INT NULL,
      vision_wards_bought_in_game INT NULL,
      item0 INT NULL,
      item1 INT NULL,
      item2 INT NULL,
      item3 INT NULL,
      item4 INT NULL,
      item5 INT NULL,
      item6 INT NULL,
      PRIMARY KEY (game_id, participant_id),
      FOREIGN KEY (game_id, participant_id) REFERENCES participants(game_id, participant_id)
    );

    CREATE TABLE IF NOT EXISTS ranks (
      puuid TEXT REFERENCES summoners(puuid),
      queue_type TEXT,
      tier TEXT NULL,
      rank TEXT NULL,
      lp INT NULL,
      wins INT NULL,
      losses INT NULL,
      PRIMARY KEY (puuid, queue_type)
    );

    CREATE TABLE IF NOT EXISTS champion_mastery (
      puuid TEXT REFERENCES summoners(puuid),
      champion_id INT REFERENCES champions(champion_id),
      champion_mastery_level INT NULL,
      champion_mastery_points BIGINT NULL,
      champion_mastery_lastPlayTime_utc TIMESTAMP NULL,
      champion_mastery_pointsSinceLastLevel BIGINT NULL,
      champion_mastery_pointsUntilNextLevel BIGINT NULL,
      champion_mastery_tokensEarned INT NULL,
      PRIMARY KEY (puuid, champion_id)
    );
    """))
    conn.commit()

print("OK: schéma créé")

## Étape 3 : Insertion des données dans les tables relationnelles

In [ ]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text("""
    INSERT INTO games
    SELECT DISTINCT
      NULLIF(game_id,'')::BIGINT,
      NULLIF(game_start_utc,'')::TIMESTAMP,
      NULLIF(game_duration,'')::INT,
      game_mode,
      game_type,
      game_version,
      NULLIF(map_id,'')::INT,
      platform_id,
      NULLIF(queue_id,'')::INT
    FROM raw_lol
    WHERE NULLIF(game_id,'') IS NOT NULL
    ON CONFLICT (game_id) DO NOTHING;

    INSERT INTO summoners
    SELECT DISTINCT
      puuid,
      summoner_id,
      summoner_name,
      NULLIF(summoner_level,'')::INT
    FROM raw_lol
    WHERE puuid IS NOT NULL AND puuid <> ''
    ON CONFLICT (puuid) DO NOTHING;

    INSERT INTO champions
    SELECT DISTINCT
      NULLIF(champion_id,'')::INT,
      champion_name
    FROM raw_lol
    WHERE NULLIF(champion_id,'') IS NOT NULL
    ON CONFLICT (champion_id) DO NOTHING;

    INSERT INTO participants
    SELECT DISTINCT
      NULLIF(game_id,'')::BIGINT,
      NULLIF(participant_id,'')::INT,
      puuid,
      NULLIF(champion_id,'')::INT,
      NULLIF(team_id,'')::INT,
      NULLIF(win,'')::BOOLEAN,
      individual_position,
      team_position,
      lane,
      role
    FROM raw_lol
    WHERE NULLIF(game_id,'') IS NOT NULL
      AND NULLIF(participant_id,'') IS NOT NULL
      AND puuid IS NOT NULL AND puuid <> ''
    ON CONFLICT (game_id, participant_id) DO NOTHING;

    INSERT INTO participant_stats (
      game_id, participant_id,
      kills, deaths, assists,
      baron_kills, dragon_kills,
      gold_earned, gold_spent,
      total_damage_dealt, total_damage_dealt_to_champions,
      physical_damage_dealt_to_champions, magic_damage_dealt_to_champions, true_damage_dealt_to_champions,
      damage_dealt_to_objectives, damage_dealt_to_turrets,
      total_damage_taken, physical_damage_taken, magic_damage_taken, true_damage_taken,
      time_ccing_others, vision_score,
      wards_placed, wards_killed, vision_wards_bought_in_game,
      item0, item1, item2, item3, item4, item5, item6
    )
    SELECT DISTINCT
      NULLIF(game_id,'')::BIGINT,
      NULLIF(participant_id,'')::INT,
      NULLIF(kills,'')::INT,
      NULLIF(deaths,'')::INT,
      NULLIF(assists,'')::INT,
      NULLIF(baron_kills,'')::INT,
      NULLIF(dragon_kills,'')::INT,
      NULLIF(gold_earned,'')::INT,
      NULLIF(gold_spent,'')::INT,
      NULLIF(total_damage_dealt,'')::BIGINT,
      NULLIF(total_damage_dealt_to_champions,'')::BIGINT,
      NULLIF(physical_damage_dealt_to_champions,'')::BIGINT,
      NULLIF(magic_damage_dealt_to_champions,'')::BIGINT,
      NULLIF(true_damage_dealt_to_champions,'')::BIGINT,
      NULLIF(damage_dealt_to_objectives,'')::BIGINT,
      NULLIF(damage_dealt_to_turrets,'')::BIGINT,
      NULLIF(total_damage_taken,'')::BIGINT,
      NULLIF(physical_damage_taken,'')::BIGINT,
      NULLIF(magic_damage_taken,'')::BIGINT,
      NULLIF(true_damage_taken,'')::BIGINT,
      NULLIF(time_ccing_others,'')::BIGINT,
      NULLIF(vision_score,'')::INT,
      NULLIF(wards_placed,'')::INT,
      NULLIF(wards_killed,'')::INT,
      NULLIF(vision_wards_bought_in_game,'')::INT,
      NULLIF(item0,'')::INT,
      NULLIF(item1,'')::INT,
      NULLIF(item2,'')::INT,
      NULLIF(item3,'')::INT,
      NULLIF(item4,'')::INT,
      NULLIF(item5,'')::INT,
      NULLIF(item6,'')::INT
    FROM raw_lol
    WHERE NULLIF(game_id,'') IS NOT NULL
      AND NULLIF(participant_id,'') IS NOT NULL
    ON CONFLICT (game_id, participant_id) DO UPDATE
    SET kills = EXCLUDED.kills,
        deaths = EXCLUDED.deaths,
        assists = EXCLUDED.assists,
        baron_kills = EXCLUDED.baron_kills,
        dragon_kills = EXCLUDED.dragon_kills,
        gold_earned = EXCLUDED.gold_earned,
        gold_spent = EXCLUDED.gold_spent,
        total_damage_dealt = EXCLUDED.total_damage_dealt,
        total_damage_dealt_to_champions = EXCLUDED.total_damage_dealt_to_champions,
        physical_damage_dealt_to_champions = EXCLUDED.physical_damage_dealt_to_champions,
        magic_damage_dealt_to_champions = EXCLUDED.magic_damage_dealt_to_champions,
        true_damage_dealt_to_champions = EXCLUDED.true_damage_dealt_to_champions,
        damage_dealt_to_objectives = EXCLUDED.damage_dealt_to_objectives,
        damage_dealt_to_turrets = EXCLUDED.damage_dealt_to_turrets,
        total_damage_taken = EXCLUDED.total_damage_taken,
        physical_damage_taken = EXCLUDED.physical_damage_taken,
        magic_damage_taken = EXCLUDED.magic_damage_taken,
        true_damage_taken = EXCLUDED.true_damage_taken,
        time_ccing_others = EXCLUDED.time_ccing_others,
        vision_score = EXCLUDED.vision_score,
        wards_placed = EXCLUDED.wards_placed,
        wards_killed = EXCLUDED.wards_killed,
        vision_wards_bought_in_game = EXCLUDED.vision_wards_bought_in_game,
        item0 = EXCLUDED.item0,
        item1 = EXCLUDED.item1,
        item2 = EXCLUDED.item2,
        item3 = EXCLUDED.item3,
        item4 = EXCLUDED.item4,
        item5 = EXCLUDED.item5,
        item6 = EXCLUDED.item6;

    INSERT INTO ranks (puuid, queue_type, tier, rank, lp, wins, losses)
    SELECT DISTINCT ON (puuid)
      puuid,
      'solo' AS queue_type,
      solo_tier,
      solo_rank,
      NULLIF(solo_lp,'')::INT,
      NULLIF(solo_wins,'')::INT,
      NULLIF(solo_losses,'')::INT
    FROM raw_lol
    WHERE puuid IS NOT NULL AND puuid <> ''
    ORDER BY puuid, NULLIF(game_id,'')::BIGINT DESC NULLS LAST
    ON CONFLICT (puuid, queue_type) DO UPDATE
    SET tier=EXCLUDED.tier,
        rank=EXCLUDED.rank,
        lp=EXCLUDED.lp,
        wins=EXCLUDED.wins,
        losses=EXCLUDED.losses;

    INSERT INTO ranks (puuid, queue_type, tier, rank, lp, wins, losses)
    SELECT DISTINCT ON (puuid)
      puuid,
      'flex' AS queue_type,
      flex_tier,
      flex_rank,
      NULLIF(flex_lp,'')::INT,
      NULLIF(flex_wins,'')::INT,
      NULLIF(flex_losses,'')::INT
    FROM raw_lol
    WHERE puuid IS NOT NULL AND puuid <> ''
    ORDER BY puuid, NULLIF(game_id,'')::BIGINT DESC NULLS LAST
    ON CONFLICT (puuid, queue_type) DO UPDATE
    SET tier=EXCLUDED.tier,
        rank=EXCLUDED.rank,
        lp=EXCLUDED.lp,
        wins=EXCLUDED.wins,
        losses=EXCLUDED.losses;
    """))
    conn.commit()

print("Données insérées dans les tables relationnelles")

## Étape 4 : Validation du schéma relationnel

In [ ]:
from sqlalchemy import text

tables = [
    "raw_lol","games","summoners","champions",
    "participants","participant_stats","ranks"
]

with engine.connect() as conn:
    for t in tables:
        n = conn.execute(text(f"SELECT COUNT(*) FROM {t};")).scalar()
        print(f"{t:<20} {n}")

    missing_summoners = conn.execute(text("""
        SELECT COUNT(*)
        FROM participants p
        LEFT JOIN summoners s ON s.puuid = p.puuid
        WHERE s.puuid IS NULL;
    """)).scalar()

    missing_champions = conn.execute(text("""
        SELECT COUNT(*)
        FROM participants p
        LEFT JOIN champions c ON c.champion_id = p.champion_id
        WHERE p.champion_id IS NOT NULL AND c.champion_id IS NULL;
    """)).scalar()

    print("\nFK checks")
    print("participants sans summoner:", missing_summoners)
    print("participants sans champion:", missing_champions)

## Étape 5 : Construction du Data Mart dimensionnel

### Dimension Temps (dim_time)

**Clé technique** : `time_sk` (SERIAL)

**Clé naturelle** : `game_date` (DATE, UNIQUE)

**Transformations appliquées** :
- Extraction jour/mois/année depuis `game_start_utc`
- Calcul du jour de la semaine
- Flag weekend (samedi/dimanche)
- Numéro de semaine ISO
- Trimestre et saison

**Granularité** : 1 ligne = 1 jour calendaire

In [ ]:
from sqlalchemy import text
import pandas as pd

print("Construction dim_time...")

df_time = pd.read_sql("""
    SELECT DISTINCT 
        DATE(game_start_utc) AS game_date,
        game_start_utc
    FROM games
    WHERE game_start_utc IS NOT NULL
""", engine)

df_time = df_time.drop_duplicates(subset=['game_date'])

df_time['day'] = pd.to_datetime(df_time['game_date']).dt.day
df_time['month'] = pd.to_datetime(df_time['game_date']).dt.month
df_time['year'] = pd.to_datetime(df_time['game_date']).dt.year
df_time['day_of_week'] = pd.to_datetime(df_time['game_date']).dt.day_name()
df_time['is_weekend'] = pd.to_datetime(df_time['game_date']).dt.dayofweek.isin([5, 6])
df_time['week_number'] = pd.to_datetime(df_time['game_date']).dt.isocalendar().week
df_time['quarter'] = pd.to_datetime(df_time['game_date']).dt.quarter
df_time['season'] = df_time['month'].apply(
    lambda m: 'Hiver' if m in [12,1,2] else 
              'Printemps' if m in [3,4,5] else 
              'Ete' if m in [6,7,8] else 'Automne'
)

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS dim_time CASCADE;"))
    conn.execute(text("""
        CREATE TABLE dim_time (
            time_sk SERIAL PRIMARY KEY,
            game_date DATE UNIQUE,
            day INT,
            month INT,
            year INT,
            day_of_week VARCHAR(20),
            is_weekend BOOLEAN,
            week_number INT,
            quarter INT,
            season VARCHAR(20)
        );
    """))
    conn.commit()

df_time[['game_date', 'day', 'month', 'year', 'day_of_week', 'is_weekend', 'week_number', 'quarter', 'season']].to_sql(
    'dim_time', engine, if_exists='append', index=False, method='multi'
)

print(f"{len(df_time)} dates insérées")

### Dimension Joueur (dim_player)

**Clé technique** : `player_sk` (SERIAL)

**Clé naturelle** : `puuid` (TEXT, UNIQUE)

**Transformations appliquées** :
- Nettoyage des noms (trim)
- Catégorisation par tranche de niveau
- Normalisation des rangs
- Calcul d'un ELO estimé

**Granularité** : 1 ligne = 1 joueur unique

In [ ]:
print("Construction dim_player...")

df_player = pd.read_sql("""
    SELECT DISTINCT
        s.puuid,
        s.summoner_name,
        s.summoner_level,
        r.tier AS solo_tier,
        r.rank AS solo_rank
    FROM summoners s
    LEFT JOIN ranks r ON r.puuid = s.puuid AND r.queue_type = 'solo'
""", engine)

df_player = df_player.drop_duplicates(subset=['puuid'])

df_player['summoner_name'] = df_player['summoner_name'].str.strip()
df_player['level_range'] = pd.cut(
    df_player['summoner_level'].fillna(0),
    bins=[0, 50, 100, 200, 500],
    labels=['Debutant', 'Intermediaire', 'Avance', 'Expert']
)
df_player['tier_clean'] = df_player['solo_tier'].fillna('UNRANKED').str.upper()

def tier_to_elo(tier, rank):
    tiers = {'IRON': 0, 'BRONZE': 400, 'SILVER': 800, 'GOLD': 1200, 
             'PLATINUM': 1600, 'DIAMOND': 2000, 'MASTER': 2400, 
             'GRANDMASTER': 2600, 'CHALLENGER': 2800}
    ranks_lp = {'IV': 0, 'III': 100, 'II': 200, 'I': 300}
    
    if pd.isna(tier) or tier == 'UNRANKED':
        return 0
    return tiers.get(tier, 0) + ranks_lp.get(rank, 0)

df_player['estimated_elo'] = df_player.apply(
    lambda x: tier_to_elo(x['solo_tier'], x['solo_rank']), axis=1
)

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS dim_player CASCADE;"))
    conn.execute(text("""
        CREATE TABLE dim_player (
            player_sk SERIAL PRIMARY KEY,
            puuid TEXT UNIQUE,
            summoner_name TEXT,
            summoner_level INT,
            level_range VARCHAR(20),
            solo_tier VARCHAR(20),
            solo_rank VARCHAR(10),
            tier_clean VARCHAR(20),
            estimated_elo INT
        );
    """))
    conn.commit()

df_player[['puuid', 'summoner_name', 'summoner_level', 'level_range', 
           'solo_tier', 'solo_rank', 'tier_clean', 'estimated_elo']].to_sql(
    'dim_player', engine, if_exists='append', index=False, method='multi'
)

print(f"{len(df_player)} joueurs insérés")

### Dimension Champion (dim_champion)

**Clé technique** : `champion_sk` (SERIAL)

**Clé naturelle** : `champion_id` (INT, UNIQUE)

**Transformations appliquées** :
- Nettoyage des noms
- Classification par classe (Tank, Assassin, etc.)

**Granularité** : 1 ligne = 1 champion unique

In [ ]:
print("Construction dim_champion...")

df_champion = pd.read_sql("SELECT * FROM champions", engine)

df_champion = df_champion.drop_duplicates(subset=['champion_id'])

df_champion['champion_name'] = df_champion['champion_name'].str.strip()
df_champion['champion_class'] = 'Inconnu'

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS dim_champion CASCADE;"))
    conn.execute(text("""
        CREATE TABLE dim_champion (
            champion_sk SERIAL PRIMARY KEY,
            champion_id INT UNIQUE,
            champion_name TEXT,
            champion_class VARCHAR(50)
        );
    """))
    conn.commit()

df_champion[['champion_id', 'champion_name', 'champion_class']].to_sql(
    'dim_champion', engine, if_exists='append', index=False, method='multi'
)

print(f"{len(df_champion)} champions insérés")

### Dimension Partie (dim_game)

**Clé technique** : `game_sk` (SERIAL)

**Clé naturelle** : `game_id` (BIGINT, UNIQUE)

**Transformations appliquées** :
- Conversion durée en minutes
- Catégorisation par durée
- Extraction des métadonnées (mode, type, etc.)

**Granularité** : 1 ligne = 1 partie unique

In [ ]:
print("Construction dim_game...")

df_game = pd.read_sql("SELECT * FROM games", engine)

df_game = df_game.drop_duplicates(subset=['game_id'])

df_game['game_duration_min'] = (df_game['game_duration'] / 60).round(2)
df_game['duration_category'] = pd.cut(
    df_game['game_duration'] / 60,
    bins=[0, 20, 30, 45, 100],
    labels=['Courte', 'Moyenne', 'Longue', 'Tres longue']
)

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS dim_game CASCADE;"))
    conn.execute(text("""
        CREATE TABLE dim_game (
            game_sk SERIAL PRIMARY KEY,
            game_id BIGINT UNIQUE,
            game_start_utc TIMESTAMP,
            game_duration INT,
            game_duration_min FLOAT,
            duration_category VARCHAR(20),
            game_mode TEXT,
            game_type TEXT,
            map_id INT,
            queue_id INT
        );
    """))
    conn.commit()

df_game[['game_id', 'game_start_utc', 'game_duration', 'game_duration_min',
         'duration_category', 'game_mode', 'game_type', 'map_id', 'queue_id']].to_sql(
    'dim_game', engine, if_exists='append', index=False, method='multi'
)

print(f"{len(df_game)} parties insérées")

### Dimension Position (dim_position)

**Clé technique** : `position_sk` (SERIAL)

**Clé naturelle** : `position_name` (VARCHAR, UNIQUE)

**Transformations appliquées** :
- Classification par type (Lane, Jungle, Support)

**Granularité** : 1 ligne = 1 position unique

In [ ]:
print("Construction dim_position...")

df_position = pd.DataFrame({
    'position_name': ['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY', 'UNKNOWN'],
    'position_type': ['Lane', 'Jungle', 'Lane', 'Lane', 'Support', 'Other']
})

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS dim_position CASCADE;"))
    conn.execute(text("""
        CREATE TABLE dim_position (
            position_sk SERIAL PRIMARY KEY,
            position_name VARCHAR(20) UNIQUE,
            position_type VARCHAR(20)
        );
    """))
    conn.commit()

df_position.to_sql('dim_position', engine, if_exists='append', index=False)

print(f"{len(df_position)} positions insérées")

### Table de faits (fact_participant_performance)

**Granularité** : 1 ligne = 1 participation (joueur dans 1 partie)

**Clés étrangères** : game_sk, player_sk, champion_sk, time_sk, position_sk

**Métriques** : kills, deaths, assists, gold_earned, vision_score, dégâts, etc.

In [ ]:
print("Construction fact_participant_performance...")

with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS fact_participant_performance CASCADE;"))
    conn.execute(text("""
        CREATE TABLE fact_participant_performance AS
        SELECT
            g.game_sk,
            p_dim.player_sk,
            c.champion_sk,
            t.time_sk,
            pos.position_sk,
            
            fp_old.team_id,
            fp_old.win,
            fp_old.individual_position,
            fp_old.team_position,
            fp_old.lane,
            fp_old.role,
            
            st.kills,
            st.deaths,
            st.assists,
            st.gold_earned,
            st.gold_spent,
            st.vision_score,
            st.wards_placed,
            st.wards_killed,
            st.total_damage_dealt_to_champions,
            st.total_damage_taken,
            st.damage_dealt_to_objectives,
            st.damage_dealt_to_turrets,
            st.baron_kills,
            st.dragon_kills
        FROM participants fp_old
        LEFT JOIN participant_stats st 
            ON st.game_id = fp_old.game_id AND st.participant_id = fp_old.participant_id
        JOIN dim_game g ON g.game_id = fp_old.game_id
        JOIN dim_player p_dim ON p_dim.puuid = fp_old.puuid
        JOIN dim_champion c ON c.champion_id = fp_old.champion_id
        JOIN dim_time t ON t.game_date = DATE(g.game_start_utc)
        JOIN dim_position pos ON pos.position_name = COALESCE(fp_old.individual_position, 'UNKNOWN');
        
        CREATE INDEX ON fact_participant_performance(game_sk);
        CREATE INDEX ON fact_participant_performance(player_sk);
        CREATE INDEX ON fact_participant_performance(champion_sk);
        CREATE INDEX ON fact_participant_performance(time_sk);
        CREATE INDEX ON fact_participant_performance(position_sk);
    """))
    conn.commit()

print("Table de faits créée avec clés techniques")
print("DATA MART V2 PRET")

## Étape 6 : Validation complète du Data Mart

In [ ]:
print("\n=== VALIDATION DU DATA MART ===\n")

with engine.connect() as conn:
    dims = {
        'dim_time': conn.execute(text("SELECT COUNT(*) FROM dim_time")).scalar(),
        'dim_player': conn.execute(text("SELECT COUNT(*) FROM dim_player")).scalar(),
        'dim_champion': conn.execute(text("SELECT COUNT(*) FROM dim_champion")).scalar(),
        'dim_game': conn.execute(text("SELECT COUNT(*) FROM dim_game")).scalar(),
        'dim_position': conn.execute(text("SELECT COUNT(*) FROM dim_position")).scalar(),
        'fact': conn.execute(text("SELECT COUNT(*) FROM fact_participant_performance")).scalar()
    }
    
    for table, count in dims.items():
        print(f"{table:<25} {count:>10,} lignes")
    
    orphans = conn.execute(text("""
        SELECT 
            COUNT(*) FILTER (WHERE g.game_sk IS NULL) AS games_orphelins,
            COUNT(*) FILTER (WHERE p.player_sk IS NULL) AS players_orphelins,
            COUNT(*) FILTER (WHERE c.champion_sk IS NULL) AS champions_orphelins,
            COUNT(*) FILTER (WHERE pos.position_sk IS NULL) AS positions_orphelines
        FROM fact_participant_performance f
        LEFT JOIN dim_game g ON g.game_sk = f.game_sk
        LEFT JOIN dim_player p ON p.player_sk = f.player_sk
        LEFT JOIN dim_champion c ON c.champion_sk = f.champion_sk
        LEFT JOIN dim_position pos ON pos.position_sk = f.position_sk
    """)).fetchone()
    
    print("\n=== Intégrité référentielle ===")
    print(f"Games orphelins      : {orphans[0]}")
    print(f"Players orphelins    : {orphans[1]}")
    print(f"Champions orphelins  : {orphans[2]}")
    print(f"Positions orphelines : {orphans[3]}")
    
    if sum(orphans) == 0:
        print("\nTOUTES LES FK SONT VALIDES")
    
    print("\n=== Échantillons de transformations ===")
    samples = pd.read_sql(text("""
        SELECT 
            p.summoner_name,
            p.level_range,
            p.tier_clean,
            p.estimated_elo,
            COUNT(*) as nb_games
        FROM fact_participant_performance f
        JOIN dim_player p ON p.player_sk = f.player_sk
        GROUP BY p.summoner_name, p.level_range, p.tier_clean, p.estimated_elo
        ORDER BY nb_games DESC
        LIMIT 5
    """), conn)
    display(samples)
    
    print("\n=== Distribution temporelle ===")
    time_dist = pd.read_sql(text("""
        SELECT 
            t.year,
            t.month,
            t.season,
            COUNT(*) as nb_participations
        FROM fact_participant_performance f
        JOIN dim_time t ON t.time_sk = f.time_sk
        GROUP BY t.year, t.month, t.season
        ORDER BY t.year, t.month
        LIMIT 10
    """), conn)
    display(time_dist)

## Étape 7 : Requêtes analytiques de démonstration

In [ ]:
from sqlalchemy import text
import pandas as pd

queries = {
"Top 10 champions (winrate)": """
SELECT
  c.champion_name,
  COUNT(*) AS games,
  ROUND(AVG(CASE WHEN f.win THEN 1 ELSE 0 END)::numeric, 4) AS winrate
FROM fact_participant_performance f
JOIN dim_champion c ON c.champion_sk = f.champion_sk
GROUP BY c.champion_name
HAVING COUNT(*) >= 50
ORDER BY winrate DESC, games DESC
LIMIT 10;
""",
"Top 10 joueurs (KDA)": """
SELECT
  p.summoner_name,
  COUNT(*) AS games,
  ROUND(AVG( (COALESCE(f.kills,0)+COALESCE(f.assists,0)) / NULLIF(COALESCE(f.deaths,0),0)::numeric ) , 3) AS avg_kda
FROM fact_participant_performance f
JOIN dim_player p ON p.player_sk = f.player_sk
GROUP BY p.summoner_name
HAVING COUNT(*) >= 20
ORDER BY avg_kda DESC, games DESC
LIMIT 10;
""",
"Performance par position": """
SELECT
  pos.position_name,
  pos.position_type,
  COUNT(*) AS games,
  ROUND(AVG(CASE WHEN f.win THEN 1 ELSE 0 END)::numeric, 4) AS winrate,
  ROUND(AVG(f.kills::numeric), 2) AS avg_kills,
  ROUND(AVG(f.deaths::numeric), 2) AS avg_deaths,
  ROUND(AVG(f.assists::numeric), 2) AS avg_assists
FROM fact_participant_performance f
JOIN dim_position pos ON pos.position_sk = f.position_sk
GROUP BY pos.position_name, pos.position_type
ORDER BY games DESC;
""",
"Evolution temporelle (par saison)": """
SELECT
  t.year,
  t.season,
  COUNT(DISTINCT f.game_sk) AS nb_games,
  COUNT(*) AS nb_participations,
  ROUND(AVG(f.kills::numeric), 2) AS avg_kills
FROM fact_participant_performance f
JOIN dim_time t ON t.time_sk = f.time_sk
GROUP BY t.year, t.season
ORDER BY t.year, 
         CASE t.season 
           WHEN 'Hiver' THEN 1 
           WHEN 'Printemps' THEN 2 
           WHEN 'Ete' THEN 3 
           ELSE 4 END;
"""
}

with engine.connect() as conn:
    for title, q in queries.items():
        df = pd.read_sql(text(q), conn)
        print("\n---", title, "---")
        display(df)